<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h1>Hello!</h1>
    <h2>Welcome to Zab's project, which showcases different mock Exam Logistics using HTML/Javascript in order to highlight the features of Flask: a Python Framework for building web-applications</h2>
    <p><strong>To navigate to a page, simply type the shortcut of the page at the end of the url! For example, type "localhost:5000/xyz" to navigate to a page with shortcut "xyz"</strong></p>
    <ul>
        <li><strong>Class Grade Average Calculator</strong><i>(allows user to find the average grade for a class of any size)</i><strong>(shortcut: calc)</strong></li>
        <li><strong>Examination Statistics</strong><i>(allows user to compare exam results of entire class)</i><strong>(shortcut: stats)</strong></li>
        <li><strong>Final Grade Resolver</strong><i>(allows user to find necessary score to receive an A based on previous exams and weight)</i><strong>(shortcut: resolve)</strong></li>
    </ul>
</body>

</html>
